.historia{
    text-align: justify;
}

.mejoresprofes{
    text-align: center;
    color: purple;
    width: 100%;
    font-size: 4rem;
    font-weight: 350;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenhistoria{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.parrafo{
    color: black;
    border-radius: 10px;
    font-size: x-large;
    width: 40%;
    padding: 2rem;
    font-weight: 350;
}

.imghistoria{
    background-color: red;
    transition: transform .2s;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.contenhistoria img:hover{
    transform: translateY(-6px);
}

.nuestrosserv{
    text-align: center;
    color: purple;
    width: 100%;
    font-size: 4rem;
    font-weight: 350;
    margin-top: 70px;
    margin-bottom: 40px;
}

.servicios {
    padding-left: 20px;
    margin: 40px 0 90px 0;
}

.resenia{
    background-color: rgba(245, 222, 179, 0.473);
    text-align: center;
    color: #6200A3;
    width: 100%;
    font-size: 4rem;
    font-weight: 350;
    margin: 0;
    padding-bottom: 4rem;
    margin-top: 40px;
}

.reseniaclientes{
    display: flex;
    background-color: rgba(245, 222, 179, 0.473);
    padding-bottom: 40px;
}

.per1, .per2{
    color: #6200a3;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.per1 img, .per2 img{
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 30%;
    height: 400px;
    object-fit: cover;
    
}

.per1 p2, .per2 p2{
    display: flex;
    font-size: x-large;
    width: 40%;
    justify-content: center;
    align-items: center;
}
.nomper1{
    font-size: larger;
    padding-left: 90px;
    margin-top: 0;
    background-color: wheat;
    padding-bottom: 10px;
}

.nomper2{
    font-size: larger;
    margin-left: 75px;
    margin-top: 0;
}


