.pregunta-card-container {
    width: 900px;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
}

.pregunta-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6200A3;
    font-weight: 600;
    color: #fff;
    padding: var(--paddin-interno);
}

.btn-pregunta-card {
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: #f29200;
    color: #fff;
    cursor: pointer;
}

.respuesta {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.3s ease;
}

.descripcion-card-activa {
    padding: var(--paddin-interno);
    max-height: 300px;
    opacity: 1;
}


:root {
    --paddin-interno: 10px 30px;
}